@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}


:root {
  --scroll-color: linear-gradient(#5f31af, #45a2ff);
  --text-color-one: linear-gradient(
    to right,

    #5f31af 15%,
    #ffffff,
    #ffffff,
    #45a2ff 75%
  );
  --text-color-Thre: linear-gradient(
    to right,
    #5f31af 35%,

    #ffffff,
    #ffffff,
    #45a2ff 60%
  );
  --text-color-Thre-two: linear-gradient(
    to right,
    #5f31af 43%,

    #ffffff,
    #ffffff,
    #45a2ff 60%
  );
  --text-color-Foer: linear-gradient(to right, #5f31af, #ffffff, #45a2ff);
  --text-color-two: linear-gradient(to left, #4c3574, #7955c1);
  --text-color-two-hover: linear-gradient(to right, #4c3574, #7955c1);
  --bg-color-one: #1e102e;
  --bg-color-two: #050709;
  --font-color: #6f41ca;
  --border: 0.03rem solid #6f41ca;
  --border-hover: 0.15rem solid #865fd3;
}
.App {
  width: 100%;
  height: 100%;
  background: var(--bg-color-one);
  content-visibility: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 3%;

  width: 100%;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .logo img {
  width: 160px;
  height: 110px;
}
.header .logo .mail {
  color: #ffffff;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header .navbar a {
  display: inline-block;
  color: #ffffff;
  margin-right: 1.6rem;
  position: relative;
  font-size: 18px;
  transition: 0.2s all ease-in-out;
}
.header .navbar a:hover {
  transform: scale(1.2);
}

.header .navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
}
.header .links {
  display: flex;
  align-items: center;
}

.header .links a.btn {
  padding: 0.6rem 1.8rem;
  font-size: 18px;
  border-radius: 40px;
  color: #ffffff;
  background: var(--text-color-two);
  margin-left: 2rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.header .navbar a:hover::after {
  width: 100%;
  background: var(--text-color-Foer);
  transition: 0.6s;
}

.header .links button:hover {
  background: var(--text-color-two-hover);
  transform: scale(1.2);
}
.home {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 6.5% 2rem 0;
  direction: rtl;
  overflow: hidden;
}
.home .content {
  flex-basis: 35rem;
}
.home .myname {
  color: #ffffff;
  font-size: 40px;
}

.home .content h1 {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-one);
  font-size: 50px;
}

.home .content p {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 2rem;
}
.home .content .a-download {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
}
.home .content .a-download a {
  padding: 1rem 2.2rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  color: var(--font-color);
  border: var(--border);
  background: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.home .content .a-download a:hover {
  background: var(--font-color);
  color: #45a2ff;
  box-shadow: 0 0 12px #45a2ff;
}
.home .content .social {
  display: flex;
}
.home .content .social a {
  color: var(--font-color);
  margin-right: 1.5rem;
  font-size: 24px;
  border: var(--border);
  width: 60px;
  height: 60px;
  padding: 0;
  text-align: center;
  line-height: 63px;
  display: block;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
  font-size: 30px;
}
.home .content .social a:hover {
  background: var(--font-color);
  color: #45a2ff;
  box-shadow: 0 0 10px #45a2ff;
}
.home .image {
  flex-basis: 360px;
  text-align: center;
}
.home .image img {
  width: 100%;
  height: 28rem;
  border-radius: 1.2rem;
  border: var(--border);
  transform: rotate(-10deg);
  box-shadow: 0 0 10px #45a2ff;
  transition: 0.5s;
}
.home .image img:hover {
  border: var(--border-hover);
  transform: rotate(0deg);
  box-shadow: 0 0 30px #45a2ff;
}

#menuBtn {
  color: white;
  padding-left: 1rem;
  font-size: 2rem;
  display: none;
}
#closeBtn {
  display: none;
}
@media (max-width: 1240px) {
  .header {
    padding: 2rem 4.5%;
  }
  .header .navbar a {
    margin-right: 1rem;
  }
  .home .content {
    padding-bottom: 2rem;
  }
}
@media (max-width: 1090px) {
  .header {
    justify-content: space-between;
    padding: 2rem 3%;
  }
  .header .navbar {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 100;
    width: 250px;
    background: var(--bg-color-one);
    padding: 4rem 1.7rem;
    transition: 0.5s;
    box-shadow: 0 0 10px #ffffffa9;
  }

  .header .navbar a {
    display: block;
    margin-bottom: 1rem;
  }
  #closeBtn {
    position: absolute;
    top: 1rem;
    font-size: 1.6rem;
    color: #ffffff;
    right: 1.5rem;
    display: block;
  }
  .home {
    flex-direction: column;
    justify-content: space-around;
  }

  .home .content {
    padding: 0 2rem 1rem;
    flex-basis: 100%;
  }
  .home .image {
    flex-basis: 100%;
  }
  .header .links button {
    padding: 0.4rem 1rem;
    font-size: 18px;
    border-radius: 40px;
    color: #ffffff;
    background: var(--text-color-two);
    margin-left: 2rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
  .header .links button:hover {
    background: var(--text-color-two-hover);
  }
  #menuBtn {
    display: block;
  }
}

@media (max-width: 670px) {
  .home .content h4 {
    font-size: 27px;
  }
  .home .content h1 {
    font-size: 44px;
  }
  .home .content p {
    font-size: 16px;
  }

  .home .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header .links button {
    padding: 0.3rem 0.7rem;
    font-size: 17px;
    border-radius: 40px;
    color: #ffffff;
    background: var(--text-color-two);
    margin-left: 2rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
}
@media (max-width: 530px) {
  .header .logo .mail {
    display: none;
  }
  .header {
    justify-content: space-between;
    padding: 2rem 6.5%;
  }
  .home .content h1 {
    font-size: 38px;
  }
  .header .logo img {
    width: 115px;
    height: 90px;
  }
  .home .image {
    padding-left: 1.5rem;
  }
  .home .image img {
    width: 100%;
    height: auto;
  }
  .header .links button {
    padding: 0.3rem 0.7rem;
    font-size: 17px;
    border-radius: 40px;
    color: #ffffff;
    background: var(--text-color-two);
    margin-left: 2rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
}
@media (max-width: 430px) {
  .home .content h1 {
    font-size: 32px;
  }
  .home .image {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .home .image img {
    width: 100%;
    height: auto;
  }

  .home .content .social a {
    margin-left: 0.5rem;
    font-size: 17px;
  }
  .header .logo img {
    width: 90px;
    height: 70px;
  }
  #menuBtn {
    display: block;
  }
  .header .links button {
    padding: 0.3rem 0.5rem;
    font-size: 16px;
    border-radius: 40px;
    color: #ffffff;
    background: var(--text-color-two);
    margin-left: 2rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
}

.email {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-Foer);
  font-weight: 700;
}
/* ===== Navbar  Counter Section */
section {
  padding: 3rem 7.5%;
}
.counter {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.counter .count-col {
  display: flex;
  align-items: center;
  gap: 20px;
}

.counter .count-col h4 {
  font-size: 16px;
  font-weight: bold;
  animation: counting 1s ease-in-out forwards;
  color: #ffffff;
}

@keyframes counting {
  form {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.counter .count-col .count {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
}

/*===== services  section */

.services {
  background: #050709;
  padding: 4rem 7.5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  direction: rtl;
}
.services .title {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services .title h2 {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-Thre);
  font-size: 38px;

  padding-top: 3rem;
}

.services .services-row .services-col {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 2.3rem;
  border-bottom: var(--border);
}
.services .services-row .services-col .topic {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 300px;
}
.services-col .topic .num,
.services-col .topic h3 {
  color: #ffffff;
  font-size: 25px;
}
.services-col .topic .num {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-Foer);
}
.services-col .desc {
  color: #ffffff;
  flex-basis: 600px;
  font-size: 18px;
}
.services-col span {
  color: #ffffff;
  font-size: 40px;
  transform: rotate(-45deg);
}

.services .services-row .services-col:nth-child(1),
.services .services-row .services-col:hover {
  background: var(--font-color);
  transition: ease-in-out all 0.3s;
}
@media (max-width: 1000px) {
  .services .services-row .services-col .topic {
    flex-basis: 100%;
  }
  .services-col .desc {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .services .services-row .services-col {
    flex-direction: column;
    padding: 1.6rem 2.3rem 1rem;
  }
  .services-col .desc {
    width: 100%;
    text-align: center;
  }
  .services .title h2 {
    font-size: 36px;
  }
  .services .title {
    width: 90%;
  }
}
@media (max-width: 430px) {
  .services .title {
    width: 100%;
  }
  .title h2 {
    font-size: 24px;
  }
}

/* === work section start */
.works {
  width: fit-content;
  height: fit-content;
}

.works .buttons {
  width: fit-content;
  margin: 1.6rem auto 3.8rem;
  display: flex;
  align-content: center;
  text-align: center;
  gap: 30px;
  direction: rtl;
  flex-wrap: wrap;
}
.works .title h2 {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-Thre-two);
  font-size: 38px;

  padding-top: 3rem;
  text-align: center;
}

.works .buttons button {
  background: var(--text-color-two);
  padding: 0.6rem 4rem;
  font-size: 17px;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
}
.works .buttons button:hover {
  background: var(--text-color-two-hover);
}
.works .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.works .content .image {
  position: relative;
}
.works .content img {
  width: 100%;
  height: auto;
}

.works .content .image .details {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--font-color);
  padding: 0.03rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  cursor: pointer;
}
.works .content .image:hover .details {
  opacity: 1;
  transition: 0.5s;
}
.works .content .image .details h3 {
  color: white;
  font-size: 18px;
}

.works .content .image .details p {
  color: #ffffff;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.works .content .image .details span {
  color: #ffffff;
  font-size: 28px;
  transform: rotate(-45deg);
}
.works .content .image:hover .details span {
  transform: rotate(315deg);
  transition: 1s ease-in-out all;
}

@media (max-width: 768px) {
  .works .content {
    grid-template-columns: repeat(1, 0.9fr);
    transition: all 0.5s ease-in-out;
    justify-content: center;
  }
  .works .buttons {
    width: 100%;
    gap: 15px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 530px) {
  .works .buttons {
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .works .buttons button {
    width: fit-content;
  }
}

/* === Skills section start */
.skills {
  background: #050709;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.skills .skill-row {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));*/
  display: flex;
  background: #050709;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 2.8rem;
  flex-wrap: wrap;
}
.skills .title {
  width: 70%;
  margin: auto;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.skills .title h2 {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-Thre-two);

  font-size: 38px;
  width: 100%;
  padding-top: 3rem;
}
.skills .title p {
  color: #fff;
  font-size: 18px;
  padding-top: 15px;
}

.skill-row .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
}
.skill-row .box .image {
  border: var(--border);

  width: 180px;
  height: 180px;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  background: #20152b;
  cursor: pointer;
  text-align: center;
}
.skill-row .box .image img {
  width: 65px;
}
.skill-row .box .image .bootstrap {
  width: 87px;
}
.skill-row .box .image .tailwind {
  width: 87px;
}
.skill-row .box .image .react {
  width: 75px;
}

.skill-row .box .num {
  color: #ffffff;
  font-size: 27px;
  padding-top: 20px;
}
.skill-row .box .tool {
  color: #ffffff;
  font-size: 20px;
  padding-top: 20px;
}
.skill-row .box .image:hover {
  background: #4b3577;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 0px 15px #ffffff;
}

/* === contact section start */

.contact {
  background: var(--bg-color-one);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  overflow: hidden;
}
.contact .title h2 {
  color: transparent;
  background-clip: text;
  background-image: var(--text-color-one);
  font-size: 25px;
  width: 100%;
  padding-top: 3rem;
  direction: rtl;
}
.contact form {
  width: 100%;
  background: #050709;
  padding: 0px 30px 40px;
  direction: rtl;
  border-radius: 20px;
}
.contact form .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}
.contact form .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.contact form .box .input-box,
.contact form .input-box {
  width: 100%;
  height: 45px;
  background: var(--bg-color-one);
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #ffffff;
}
.contact form .box input,
.contact form .input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  direction: rtl;
}
.contact form .input-box select {
  background: var(--bg-color-one);
}
.contact form .box input::placeholder,
.contact form textarea::placeholder {
  color: #ffffff;
  font-size: 16px;
}
.contact form textarea {
  width: 100%;
  height: 150px;
  background: var(--bg-color-one);
  border: 1px solid #ffffff;
  padding: 5px 10px;
  font-size: 18px;
}
.contact form button {
  padding: 10px 16px;
  margin-top: 20px;
  font-size: 16px;
  background: var(--text-color-two);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.contact form button:hover {
  background: var(--text-color-two-hover);
  transition: 0.5s;
}
.contact .details {
  padding: 20px 70px;
  direction: rtl;
  overflow: hidden;
}
.contact .details .del-col {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact .details .del-col i {
  color: #ffffff;
  background: var(--text-color-two);
  font-size: 24px;
  margin-top: 4rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
}
.contact .details .del-col .label {
  padding-top: 65px;
}
.contact .details .del-col p {
  color: #ffffff;
  font-size: 18px;
}
.contact .details .del-col h6 {
  color: #ffffff;
  font-size: 18px;
  direction: ltr;
}

@media (max-width: 1080px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 430px) {
  .contact form .box {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form {
    width: 340px;
  }
  .contact .details .del-col {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .contact .details .del-col .label {
    padding-top: 5px;
  }
  .contact .details .del-col i {
    width: 80px;
    height: 80px;
    line-height: 60px;
    padding: 10px 12px 8px;
  }
}
/* === footer section start */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 30px;
  background: #050709;
  width: 100%;
}
.footer img {
  width: 70px;
  height: 70px;

  margin-bottom: 10px;
}
.footer .links a {
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
  font-size: 18px;
}
.footer p {
  padding-top: 30px;
  color: #865fd3;
}

#scroll-btn {
  opacity: 0;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #45a2ff;
  position: fixed;
  bottom: 10%;
  right: 2%;
  font-weight: 900;
  border: 3px solid #5f31af;
  border-radius: 50%;
  cursor: pointer;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn:hover {
  box-shadow: 0px 0px 10px #ffffff;
}
#scroll-btn.show {
  opacity: 1;
  transition: all ease-in-out 0.3s;
  z-index: 1000;
}
